@page "/contributorrequest"
<PageTitle>Contributor request</PageTitle>

@if (RequestedUser != null && Studyset != null)
{
    @if (Answered)
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    @RequestedUser.UserName wurde über Ihre Antwort informiert
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    Der Benutzer @RequestedUser.UserName hat angefragt Mitwirkender für das Lernset @Studyset.Name zu werden
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" style="margin: 1rem" @onclick="AddContributor">
                        Anfrage annehmen
                    </button>
                    <button class="btn btn-secondary" style="margin: 1rem" @onclick="RejectContributorRequest">
                        Anfrage ablehnen
                    </button>
                </div>
            </div>
        </div>
    }
}
