@page "/"
<PageTitle>Index</PageTitle>


@if (_studysets is not null)
{
    //https://getbootstrap.com/docs/5.0/content/tables/

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kategorie</th>
                <th scope="col">Ersteller</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@_studysets" Context="Studyset" ItemSize="10" OverscanCount="5">
                <tr>
                    <th scope="row"></th>
                    <td>@Studyset.Category.Name</td>
                    <td>@Studyset.Creator.Email</td>
                    <td><a href="\studyset\edit\@Studyset.Id">Edit</a></td>
                </tr>
                </Virtualize>
        </tbody>
    </table>


    <button class="btn" @onclick="InitSampleData">Init Sample Data</button>

    
}