html, body {
    font-size: 3vw;
}

.container-div {
    border: solid darkgray 1px;
    background: whitesmoke;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust the max-width as needed */
    font-size: 16px; /* Default font size */
}

@media (max-width: 576px) {
    th, td {
        font-size: 11px; /* Adjust font size for small screens */
    }
}

