@page "/viewstudyset"
@using Quixduell.Blazor.Shared.StudysetView
@using System.ComponentModel
<PageTitle>Index</PageTitle>


@if (Studyset is not null)
{
    //https://getbootstrap.com/docs/5.0/content/tables/
    <div class="container container-div">
        <StudysetViewHeader Studyset="@Studyset" User="@User"/>
        <StudysetViewContent Studyset="@Studyset" User="@User" />
    </div>
}