@page "/viewstudyset/{StudysetID}"
@using Quixduell.Blazor.Shared.StudysetView
@using System.ComponentModel
<PageTitle>View Studyset</PageTitle>


@if (Studyset is not null)
{
    //https://getbootstrap.com/docs/5.0/content/tables/
    <div class="container container-div" style="min-width: 550px">
        <StudysetViewHeader Studyset="@Studyset" User="@User"/>
        <StudysetViewContent Studyset="@Studyset" User="@User" />
    </div>
}