.container-div {
    border: solid darkgray 1px;
    background: whitesmoke;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
