    @if (_displayedAppUsers is not null)
    {
        <div class="form-group">

            <div class="input-group">
                <input class="form-control" placeholder="Suche..." @bind=_searchString @bind:event="oninput" @bind:after="SearchUser">
            </div>

            <div class="container mt-2" style="height:20vh;overflow-y:scroll">
                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">Nutzer</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>


                    <tbody>
                        <Virtualize Items="@_displayedAppUsers" Context="User" ItemSize="10" OverscanCount="5">
                            <tr>
                                <td>@User.Email</td>

                                <td>
                                    @if (Value.Where(u => User.Email == u.Email).Count() == 0)
                                    {
                                    <button type="button" @onclick="() => AddUser(User)" class="btn btn-primary" style="width: 40%; min-width: fit-content">Mitwirkender hinzufügen</button>
                                    }
                                    else
                                    {
                                    <button type="button" @onclick="() => DeleteUser(User)" class="btn btn-danger" style="width: 40%; min-width: fit-content">Mitwirkender entfernen</button>
                                    }
                                </td>
                            </tr>
                        </Virtualize>
                    </tbody>

                </table>
            </div>

        </div>
    }
