@if (_filteredQuestions is not null)
{
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" placeholder="Suche..." @bind=_searchString @bind:event="oninput" @bind:after="SearchQuestion">
        </div>
        <div class="container" style="height:20vh;overflow-y:scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Frage</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="@_filteredQuestions" Context="Question" ItemSize="10" OverscanCount="5">
                        <tr>
                            <td>@Question.QuestionText</td>
                            <td><button type="button" @onclick="() => SelectQuestionAsync(Question)" class="btn">Auswählen</button></td>
                            <td><button type="button" @onclick="() => RemoveQuestionAsync(Question)" class="btn btn-danger">Löschen</button></td>
                        </tr>
                    </Virtualize>
                </tbody>
            </table>
        </div>
    </div>
}
