@page
@model Quixduell.Blazor.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel


<div class="d-flex justify-content-center">
    <h1>Passwort vergessen Bestätigung</h1>
</div>

<div class="d-flex justify-content-center">
    <p>
        Bitte überprüfe deine Emails um dein Passwort zurückzusetzen.
    </p>
</div>