@page
@using Quixduell.Blazor.Areas.Identity.Pages.Account
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrierungsbestätigung";
}

<h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
<div class="d-flex justify-content-center">
    @if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Diese Applikation hat noch keinen Email Sender registriert.
            Normalerweise würde dieser Link per Email gesendet werden: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicke hier um deinen Account zu bestätigen!</a>
        </p>
    }
    else
    {
        <p>
            Du hast eine E-Mail mit einem Bestätigungslink erhalten, bitte bestätige das es sich um deine E-Mail handelt
        </p>
    }
</div>

