@page
@using Quixduell.Blazor.Areas.Identity.Pages.Account
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
<p class="d-flex justify-content-center">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
