@page
@using Quixduell.Blazor.Areas.Identity.Pages.Account
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Passwort zurückgesetzt";
}

<h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
<p class="d-flex justify-content-center">
    Dein Passwort wurde zurückgesetzt. Bitte&nbsp;<a asp-page="./Login">klicke hier um dich einzuloggen</a>.
</p>
