@page "/editstudyset/{StudysetID}"
@page "/editstudyset"
@using Quixduell.Blazor.Shared.CategoryComponent
@using Quixduell.Blazor.Shared.UserComponent

@if (Studyset is not null)
{
    <EditForm EditContext="EditContext">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label class="form-label" for="ss_name">Name:</label>
            <InputText class="form-text" id="ss_name" @bind-Value="Studyset.Name"></InputText>
            <ValidationMessage For="() => Studyset.Name"></ValidationMessage>
        </div>
        <div>
            <CreateEditCategory @bind-Value="Studyset.Category"></CreateEditCategory>
            <ValidationMessage For="() => Studyset.Category"></ValidationMessage>
        </div>
        <div>
            @if (Studyset.Contributors is not null && Studyset.Contributors.Count > 0)
            {
                <label for="ss_contri">Mitwirkende:</label>
                <label id="ss_contri">@string.Join(",",Studyset.Contributors)</label>
            }
            <SelectUnselectUsers @bind-Value="Studyset.Contributors"></SelectUnselectUsers>
            <ValidationMessage For="() => Studyset.Contributors"></ValidationMessage>
        </div>
    </EditForm>
}
