<div>
    <SelectCategory @bind-Value="Value" @bind-Value:after="InvokeValueChange" ></SelectCategory>

    <div class="mt-2">

        <button class="btn btn-primary" type="button" @onclick="() => {_formModel = new();}">Kategorie hinzufügen</button>

        @if (Value is not null)
        {
            <button class="btn btn-secondary" style="margin-left: 0.5rem" type="button" @onclick="() => {_formModel = new (Value);}">Bearbeiten</button>
        }

    </div>
</div>

@if(_formModel is not null)
{
    <EditForm Model="_formModel" Context="Model" OnValidSubmit="SaveCategory">

        <div class="form-group" style="margin: 1rem 0 1rem 1rem">
            <label class="form-label" for="c_name">Name:</label>
            <InputText class="form-control" id="c_name" @bind-Value=_formModel.Name></InputText>
            <ValidationMessage For="() => _formModel.Name"></ValidationMessage>

            <div class="mt-2">
                <button class="btn btn-success" type="submit">Speichern</button>
                <button class="btn btn-danger" type="button" @onclick="() => {_formModel = null;}">Abbrechen</button>
            </div>
        </div>

    </EditForm>
}