<SelectCategory @bind-Value="Value" ></SelectCategory>
<button type="button" @onclick="() => {_formModel = new();}">Hinzufügen</button>
@if (Value is not null)
{
    <button type="button" @onclick="() => {_formModel = new (Value);}">Bearbeiten</button>
}

@if(_formModel is not null)
{
    <EditForm Model="_formModel" Context="Model" OnValidSubmit="SaveCategory">
        <div class="input-group">
            <label class="form-label" for="c_name">Name:</label>
            <InputText class="form-control" id="c_name" @bind-Value=_formModel.Name></InputText>
            <ValidationMessage For="() => _formModel.Name"></ValidationMessage>
        </div>
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-danger" type="button" @onclick="() => {_formModel = null;}">Abbrechen</button>
    </EditForm>
}