
<div class="round-div color-blue-div" @onmouseenter="() => OnHover = true" @onmouseleave="() => OnHover = false">
    <button class="btn add-button d-flex justify-content-center align-items-center" @onclick="OnClick">
        <svg id="SvgjsSvg1059" class="@(OnHover ? "tilt-graphic" : "")" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs">
            <g id="SvgjsG1061">
                <svg xmlns="http://www.w3.org/2000/svg" class="@(OnHover ? "tilt-graphic" : "")" viewBox="0 0 16 16">
                    <path fill="none" fill-rule="evenodd" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 1v14M1 8h14" class="colorStroke000 svgStroke">

                    </path>
                </svg>
            </g>
        </svg>
    </button>
</div>
