svg {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.tilt-graphic {
    transform: rotate(10deg);
    transition: all 0.1s ease-in-out;
}

.add-button {
    border: 0;
    padding: 0.75rem;
    color: #fff;
}

.round-div {
    display: inline-block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5rem;
}

@media (max-width: 576px) {
    svg {
        max-height: 1rem;
        max-width: 1rem;
    }

    .add-button {
        padding: 0.65rem;
    }

    .round-div {
        margin: 0.25rem;
    }
}

.color-blue-div {
    background-color: #3498db;
}

.color-blue-div:hover {
    background-color: #2980b9;
}
