svg {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.tilt-graphic {
    transform: rotate(10deg);
    transition: all 0.1s ease-in-out;
}

.add-button {
    border: 0;
    padding: 0.75rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    color: #fff;
}

.round-div {
    display: inline-block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5rem;
}

.color-blue-div {
    background-color: #3498db;
}

.color-blue-div:hover {
    background-color: #2980b9;
}
