.category-div {
    background-color: red;
    opacity: 0.6;
    margin: 0.25rem;
    margin-bottom: 0;
    padding: 0.1rem;
    padding-right: 0.35rem;
    padding-left: 0.35rem;
    box-sizing: border-box;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.7rem;
}

.scroll-div {

}

@media (max-width: 576px) {
    .category-div {
        font-size: 0.75rem;
        border-radius: 0.5rem;
        margin-right: 0;
        margin-bottom: 0.125rem;
        max-width: 35%;
    }

    .scroll-div {
        overflow-x: scroll;
        text-wrap: nowrap;
    }
}
