.category-div {
    background-color: red;
    opacity: 0.6;
    margin: 0.25rem;
    margin-bottom: 0;
    padding: 0.125rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.category-text {
    margin: 0;
    color: white
}
