<div class="autocomplete">
    <input type="text" @bind:after="SetContributorProposalAsync" @onkeydown="OnKeyDownAsync" @bind="ContributorName" @bind:event="oninput" @ref="_textbox" class="form-control filter">

    @if (ContributorProposal is not null)
    {
        <ul class="options">
            @if (ContributorProposal.Any())
            {
                @foreach (var contributor in ContributorProposal)
                {
                    <li class="option" @onclick=@(async _ => await ContributorSelectedAsync(contributor))>
                        <span class="option-text">@contributor.UserName</span>
                    </li>
                }
            }
            else if(ContributorName != "")
            {
                <li class="disabled option">No results</li>
            }
        </ul>
    }
</div>