.upload-button {
    border: 0;
    padding: 0.75rem;
    color: #fff;
}

.round-div {
    display: inline-block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5rem;

    background-color: #3498db;
}

.round-div:hover {
    background-color: #2980b9;
}

svg {
    height: 1.5rem;
    width: 1.5rem;
}

@media (max-width: 576px) {
    svg {
        height: 1rem;
        width: 1rem;
    }

    .upload-button {
        padding: 0.65rem;
    }

    .round-div {
        margin: 0.25rem;
    }
}
