.star-div {
    background-color: whitesmoke;
    border: solid lightgray 1px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0.25rem;
    padding: 0.125rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

@media (max-width: 576px) {
    .star-div {
        padding: 0.125rem;
    }
}

.star-button {
    padding: 0;
    font-size: x-large;
}

@media (max-width: 576px) {
    .star-button {
        font-size: large;
    }
}
