.start-game-div {
    background-color: green;
    border: solid lightgray 1px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0.25rem;
    padding: 0.125rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.start-game-button {
    padding: 0;
    font-size: x-large;
    color: whitesmoke
}
