
<div class="expandable-button-container" @onfocusout="() => IsExpanded = false">
    <div class="start-game-div">
        <button class="btn start-game-button d-flex align-items-center justify-content-center" @onclick="Click">
            <span>Learn</span> 

            <svg id="SvgjsSvg1001" class="@(IsExpanded ? "triangle-expand" : "triangle-collapse")" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs">
                <defs id="SvgjsDefs1002"></defs>
                <g id="SvgjsG1008">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81.601 90.666">
                        <path d="M91.2,53.333,9.6,98.666V8Z" transform="translate(-9.6 -8)" fill="#ffffff" class="color000 svgShape">
                        </path>
                    </svg>
                </g>
            </svg>         

        </button>
    </div>
    @if (IsExpanded)
    {
        <ul class="options">
            @if (GameModes.Any())
            {
                @foreach (var gameMode in GameModes)
                {
                    <li class="option" @onmousedown="gameMode.Value" @ontouchenter="gameMode.Value">
                        <span class="option-text">@gameMode.Key</span>
                    </li>

                    @if(GameModes.ElementAt(GameModes.Count - 1).Key.Value != gameMode.Key.Value)
                    {
                        <li style="border: 1px solid darkgray; height: 1px; display: block;" />
                    }
                }
            }
        </ul>
    }

</div>


