
<div class="start-game-div">
    <button class="btn start-game-button" @onclick="Play">
        Learn &#9654;
    </button>
</div>
<div class="start-game-div">
<button class="btn start-game-button" @onclick="PlayMulti">
    Learn &#128108;
</button>
</div>
