.color-blue-div {
    background-color: #3498db;
}

.color-blue-div:hover {
    background-color: #2980b9;
}

.color-green-div {
    background-color: #1a9341;
}

.color-grren-div:hover {
    background-color: #147c3d;
}

.upload-button {
    font-size: 1.5rem;
    font-weight: bolder;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    color: #fff;
    border: 0;
}

.upload-button-edit {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.upload-button-checkmark {
    padding-right: 0.625em;
    padding-left: 0.625em;
}

.round-div {
    display: inline-block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5rem;
}

@media (max-width: 576px) {
    .upload-button {
        font-size: 1rem;
        padding-bottom: 0.4em;
        padding-top: 0.4em;
    }

    .upload-button-edit {
        padding-right: 0.65em;
        padding-left: 0.65em;
    }

    .upload-button-checkmark {
        padding-right: 0.775em;
        padding-left: 0.775em;
    }

    .round-div {
        margin: 0.25rem;
    }
}