@page "/multiplayer"
@page "/multiplayer/{LobbyGuidParameter}"
@using Quixduell.Blazor.Shared.QuestionComponent
@using Quixduell.ServiceLayer.DataAccessLayer.Model.Questions
@using Quixduell.Blazor.Shared.GameComponent
@*
    Create New
    /singleplayer?studyset=50092a18-8465-4542-b1fa-a882360ddae8

    Join
    /singleplayer/50092a18-8465-4542-b1fa-a882360ddae8

*@

@if (Game is not null)
{
    <div class="container container-div">
        @if(!Game.IsGameStarted())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Spieler</th>
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="Game.Players">
                        <tr>
                            <td>@context.Player.Email</td>
                        </tr>
                    </Virtualize>
                </tbody>
            </table>
            <button class="btn btn-info m-2" @onclick="CopytoClipboardAsync">Einladungslink kopieren</button>
            <button class="btn btn-primary m-2" @onclick="OnStartGame">Spiel starten</button>

        }
        else
        {
            @if (SelectedQuestion is not null)
            {
                <ReportIssueComponent CurrentQuestion="SelectedQuestion" Studyset="Game.Studyset"></ReportIssueComponent>
                if (SelectedQuestion is OpenQuestion openQuestion)
                {
                    <AnswerOpenQuestionComponent @bind-Value=openQuestion User="CurrentPlayer" QuestionAnswered="OnOpenQuestionAnswered"></AnswerOpenQuestionComponent>
                }
                else if (SelectedQuestion is MultipleChoiceQuestion multipleChoiceQuestion)
                {
                    <AnswerMultiQuestionComponent @bind-Value=multipleChoiceQuestion User="CurrentPlayer" QuestionAnswered="OnMultiQuestionAnswered"></AnswerMultiQuestionComponent>
                }
            }

            @if (_gameFinished)
            {
                <div>
                    Alle Fragen beantwortet !
                </div>
                <GameResultComponent @bind-Value=Game.GameResult></GameResultComponent>
            }
        }
    </div>
}