@page "/singleplayer"
@page "/singleplayer/{LobbyGuidParameter}"
@using Quixduell.ServiceLayer.DataAccessLayer.Model.Questions
@using Quixduell.Blazor.Shared.GameComponent
@*
    Create New
    /singleplayer?studyset=50092a18-8465-4542-b1fa-a882360ddae8

    Join
    /singleplayer/50092a18-8465-4542-b1fa-a882360ddae8

*@

@if (Game is not null)
{
    <div>
        @if (SelectedQuestion is not null)
        {
            <AnswerQuestion @bind-Value=SelectedQuestion QuestionAnswered="OnQuestionAnswered"></AnswerQuestion>
        }
        @if (_allowNext)
        {
            <div>
                <button class="btn" @onclick=Next>Next</button>
        </div>
        }

        @if (_gameFinished)
        {
            <div>
                Alle Fragen beantwortet !
            </div>
        }
    </div>
}