.div-container {
    background: rgb(252,252,252);
    border: solid darkgray 1px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.pie-chart {
    max-width: 15rem;
}

.color-circle {
    max-width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 50%;
}

.question-text {
    font-size: 1rem;
    padding-top: 0.1rem;
}

@media (max-width: 576px) {
    .question-text {
        font-size: 0.7rem;
        padding-left: 0.5rem;
    }

    .pie-chart {
        max-width: 7rem;
    }

    .color-circle {
        padding:0.5rem;
        max-width: 1.5rem;
        height: 1.5rem;
    }
}