@using Quixduell.ServiceLayer.DataAccessLayer.Model.Questions
@using Quixduell.Blazor.Shared.ControlComponents

@if (Studyset is not null)
{
    <div class="col div-container">
        <div class="container" style="padding: 0">
            <div class="row">
                <div class="col col-5" style="padding-right:0">
                    <PieChartComponent Parts="@(new List<PieChartPart>{new PieChartPart(90, "lightblue"), new PieChartPart(10, "red")})" />
                </div>

                <div class="col">
                    @foreach (var kv in _questionData)
                    {
                        <div class="row form-group">
                            <div class="col col-auto d-flex justify-content-start">
                                @kv.Key
                            </div>
                            <div class="col d-flex justify-content-end">
                                @kv.Value()
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
}
