@using Quixduell.Blazor.Shared.ControlComponents;

@if (Studyset is not null)
{
    <div class="col div-container">

        <div class="row">
            <div class="col col-md-auto d-flex justify-content-start">
                Creator:
            </div>
            <div class="col col-md-auto d-flex justify-content-end" style="margin-left: auto; width: 16.7rem">
                <div style="width: 16.7rem">
                    @Studyset.Creator.UserName
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-auto d-flex justify-content-start" style="padding-right: 0;">
                Contributors:
            </div>
        </div>
        <div class="row">
            @* padding-left: 0; margin-left: auto; *@
            <div class="col col-md-auto d-flex justify-content-start" style=" width: 16.7rem">
                <div class="container" style="overflow-y: scroll; height: 5rem">
                    @foreach (var c in Studyset.Contributors)
                    {
                        <div class="row">
                            @c.UserName
                        </div>
                    }
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <AddButtonComponent OnClick="@AddContributor" />
            </div>
        </div>
    </div>
}