.div-container {
    background: rgb(252,252,252);
    border: solid darkgray 1px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.scroll-box {
    overflow-y: scroll
}

.contributor-div{
    height: 8rem;
}

.h-shrinked{
    height: 60%;
}

.proposal-box {
    height: 40%;
}


@media (max-width: 576px) {
    div {
        font-size: 0.7rem;
    }

    .contributor-div {
        height: 5rem;
    }

    .h-shrinked {
        height: 65%;
    }

    .proposal-box {
        height: 35%;
    }
}