@if (Studyset is not null)
{
    <div class="container div-container">
        <div class="row" style="margin: 0">
            <StudysetViewContentQuestionInformation Studyset="@Studyset" />
            <StudysetViewContentRating Studyset="@Studyset" User="@User"/>
            <StudysetViewContentUserInformation Studyset="@Studyset"/>
        </div>
    </div>
}