.div-col {
    display: flex;
    flex-direction: row; /* Change to row for horizontal alignment */
    align-items: center;
    justify-content: space-between; 
}


.div-container {
    background: rgb(252,252,252);
    border: solid darkgray 1px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;
}
