.div-container {
    background: rgb(252,252,252);
    border: solid darkgray 1px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.medium-text {
    font-size: medium;
}

.small-text{
    font-size: smaller;
}

.highscore-scroll{
}

@media (max-width: 576px) {

    .medium-text {
        font-size: smaller;
    }

    .small-text {
        font-size: small;
    }

    .highscore-scroll {
        overflow-x: scroll;
    }
}
