.studyset-name {
    margin: 0.5rem;
    font-size: 2rem;
}


@media (max-width: 576px) {
    .studyset-name {
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0;
        overflow-x: scroll;
        text-wrap: nowrap;
        max-width: 70%;
    }
}
