.div-container {
    background: rgb(252,252,252);
    border: solid darkgray 1px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 0.25rem;
}

.padding-0 {
    padding: 0
}

.w-35 {
    width: 35%
}

.w-65 {
    width: 35%
}

.star-div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 0
}

.resize-none {
    resize: none
}