.div-container {
    background: rgb(252,252,252);
    border: solid darkgray 1px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.padding-0 {
    padding: 0
}

.w-35 {
    width: 35%
}

.w-65 {
    width: 35%
}

.star-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.resize-none {
    resize: none
}

.headline {
    font-size: large;
    font-weight: bold;
}

.rating-header {
    font-size: large;
}

.text-style {
    font-size: medium;
}

.rating-box {
    min-width: 30%;
}

.star {
    width: 25px;
    height: 25px;
}

@media (max-width: 576px) {
    .headline {
        font-size: medium;
        font-weight: bold;
    }

    .rating-header {
        font-size: medium;
    }

    .text-style {
        font-size: smaller;
    }

    .rating-box {
        min-width: 90%;
    }

    .star {
        width: 22px;
        height: 22px;
    }
}