@inherits LayoutComponentBase
@using Shared.DialogComponent
<PageTitle>Quixduell</PageTitle>

<div class="page">
    <main>
        <div class="top-container">
            <div class="container d-flex align-items-center" style="padding-right: 0.5rem;padding-left: 0.5rem; ">
                <div class="row d-flex align-items-center" style="flex-wrap: nowrap; width: 110%;">
                    <div class="col col-auto d-flex align-items-center justify-content-start" style="padding-right: 0; padding-left:0.5rem;">
                        <a class="navbar-brand headline" href="#">&#x1F3E0; Quixduell</a>
                    </div>
                    <div class="col user-row justify-content-end" style="margin-top: 0.2rem; padding-right: 0.5rem; padding-left:0;">
                        <div class="container" style="padding:0;">
                            <div class="row d-flex align-items-center justify-content-end" style="flex-wrap: nowrap; margin-right: auto">
                                <LoginDisplay />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <article class="content" style="padding: 1rem;">
            <Quixduell.Blazor.Shared.DialogComponent.ShowDialogComponent @ref="Dialog"></Quixduell.Blazor.Shared.DialogComponent.ShowDialogComponent>
            <Quixduell.Blazor.Shared.AlertComponent.AlertComponent @ref="Alert"></Quixduell.Blazor.Shared.AlertComponent.AlertComponent>

            <CascadingValue Value="this">
                @Body
            </CascadingValue>

        </article>
    </main>
</div>

@code
{
    public Quixduell.Blazor.Shared.DialogComponent.ShowDialogComponent Dialog;
    public Quixduell.Blazor.Shared.AlertComponent.AlertComponent Alert;

}
