@inherits LayoutComponentBase
@using Shared.DialogComponent
<PageTitle>Quixduell.Blazor</PageTitle>

<div class="page">
    <div>
    </div>

    <main>

        <div class="top-container">
            <div class="top-spacer">

            </div>
            <div class="top-row-left">
                <a class="navbar-brand" href="#">&#8962; Quixduell</a>
            </div>
            <div class="top-row-right auth">
                <LoginDisplay />
            </div>
            <div class="top-spacer">
            </div>


        </div>
        


        <article class="content px-2">
            <Quixduell.Blazor.Shared.DialogComponent.ShowDialogComponent @ref="Dialog"></Quixduell.Blazor.Shared.DialogComponent.ShowDialogComponent>
            <Quixduell.Blazor.Shared.AlertComponent.AlertComponent @ref="Alert"></Quixduell.Blazor.Shared.AlertComponent.AlertComponent>

            <CascadingValue Value="this">
                @Body
            </CascadingValue>

        </article>
    </main>
</div>

@code
{
    public Quixduell.Blazor.Shared.DialogComponent.ShowDialogComponent Dialog;
    public Quixduell.Blazor.Shared.AlertComponent.AlertComponent Alert;

}
